<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello React!</title>
        <script src="../bower_components/react/react.js"></script>
        <script src="../bower_components/react/react-dom.js"></script>
        <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    </head>
    <body>
        <div id="example"></div>
        <div id="hello"></div>
        <script type="text/babel">
        ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('example')
        );
        var Hello = React.createClass({
            render: function () {
                return <div><h1>Hello </h1><h2>I'm {this.props.name}</h2></div>;
            }
        });
        ReactDOM.render(<Hello name="Tien"/>, document.getElementById('hello'));
        </script>
    </body>
</html>
